// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h4 {
	font-family: 'Ropa Sans', sans-serif;
}
h4 {
	font-weight: 900;
}
p, pre {
	font-family: 'Ubuntu Condensed', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.row {
	margin: 50px auto;
	text-align: center;
}
.margintop {
	margin: 8% auto 0 auto;
	text-align: center;
}
.linkimage {
	width: 40px;
}
.meetupimage {
	width: 50px;
}
#contact {
	margin-top: 55px;
}
#name {
	height: 100px;
	margin: 10px;
}
#resume {
	width: 150px;
	height: 30px;
  &:hover {
  	font-size: 16.2px;
 		background: url("background.png");
 		background-size: 100% 100%;
 		background-repeat: no-repeat;
 		cursor: pointer;
	}
}
#showresume {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: rgba(0,0,0,.9);
	z-index: 2;
 img {
 	margin-bottom: 20px;
 	height: 90%;
 	width: auto;
 }
	#close {
		margin-left: 80%;
		margin-top: 2%;
		color: white;
		font-size: 18px;
		width: 20px;
		height: 20px;
		text-align: center;
		background-color: rgba(200,200,200,0);
		font-family: 'Ubuntu Condensed', sans-serif;
		cursor: pointer;
		border: none;
		z-index: 3;
	}
}
#contactbox {
	display: none;
}
#links, #skills, #interests {
	width: 200px;
	height: 200px;
	position: relative;
	.center {  
		position: absolute; 
		border-radius: 50%; 
		top: 55px;
		left: 65px;
	}
	.intcenter {
		left: 55px;
	}
	.field { 
		width: 80px; 
		height: 80px; 
		position: absolute; 
		display: none;
	}
	.active {
		display: inline-block;
	}
}

