// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2, h4 {
	font-family: 'Ropa Sans', sans-serif;
}
h4 {
	font-weight: 900;
}
p, pre {
	font-family: 'Ubuntu Condensed', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
.row {
	margin: 50px auto;
	text-align: center;
}
.margintop {
	margin: 8% auto 0 auto;
	text-align: center;
}
.linkimage {
	width: 40px;
}
.meetupimage {
	width: 50px;
}
#contact {
	margin-top: 55px;
}
#name {
	height: 100px;
	margin: 10px;
}
#resume {
	width: 150px;
	height: 30px;
  &:hover {
  	font-size: 16.2px;
 		background: url("background.png");
 		background-size: 100% 100%;
 		background-repeat: no-repeat;
 		cursor: pointer;
	}
}
#showresume {
	position: fixed;
	display: block;
	top: 5%;
	left: 10%;
	margin: 0 auto;
	display: none;
	width: 80%;
	height: 90%;
	overflow: scroll;
	background-color: white;
	z-index: 2;
	background: url("resume.png");
 	background-size: auto 100%;
 	background-repeat: no-repeat;
 	background-position: center;
	#close {
		width: 100px;
		margin: 10px auto;
		origin: auto;
		text-align: center;
		background-color: rgba(200,200,200,.3);
		font-family: 'Ubuntu Condensed', sans-serif;
		position: absolute;
		z-index: 3;
		cursor: pointer;
		border: none;
		-webkit-transform: translate(-50%, 0); 
	}
}
#contactbox {
	display: none;
}
#links, #skills, #interests {
	width: 200px;
	height: 200px;
	position: relative;
	.center {  
		position: absolute; 
		border-radius: 50%; 
		top: 55px;
		left: 65px;
	}
	.intcenter {
		left: 55px;
	}
	.field { 
		width: 80px; 
		height: 80px; 
		position: absolute; 
		display: none;
	}
	.active {
		display: inline-block;
	}
}

