html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	position: relative;
}
#mobile {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	.row {
		margin: 0;
	}
	#heading {
		background-image: url('ice.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		position: relative;
		height: 100%;
		margin: 0;
		text-align: center;
		.center {
			margin: 50px auto 30px auto;
			h1 {
				font-weight: 400;
				font-size: 50px;
			}
		}
		h2 {
			font-family: 'Droid Sans', sans-serif;
			font-size: 22px;
			font-weight: 900px;
			margin: 0 auto;
		}
		
		
		p {
			font-family: 'Droid Sans', sans-serif;
			font-size: 15px;
			font-weight: 400;
			text-align: center;
		}
		#bio, #techskills {
			box-shadow: 1px solid grey;
			margin: 50px 20%;
			padding: 20px;
			line-height: 30px;
			background-color: rgba(250,250,250,.7);
		}
		#techskills {
			margin: 50px  30%;
		}
		.arrow {
		  -moz-animation: bounce 2s infinite;
		  -webkit-animation: bounce 2s infinite;
		  animation: bounce 2s infinite;
		  height: 50px;
		  position: relative;
		  bottom: 1%;
		}
		@keyframes bounce {
		  0%, 20%, 50%, 80%, 100% {
		    transform: translateY(0);
		  }
		  40% {
		    transform: translateY(-30px);
		  }
		  60% {
		    transform: translateY(-15px);
		  }
		}
	}
	#projects {
		background-image: url('ice2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		position: relative;
		height: 100%;
		margin: 0;
		h1 {
			margin: 0 auto;
		}
		.arrow {
		  -moz-animation: bounce 2s infinite;
		  -webkit-animation: bounce 2s infinite;
		  animation: bounce 2s infinite;
		  height: 50px;
		}
		@keyframes bounce {
		  0%, 20%, 50%, 80%, 100% {
		    transform: translateY(0);
		  }
		  40% {
		    transform: translateY(-30px);
		  }
		  60% {
		    transform: translateY(-15px);
		  }
		}
	}
}
