@media only screen and (max-width: 442px) {
	.hideme {
		display: inline-block;
	}
	#home #heading {
		.center h1 {
			font-size: 30px;
		}
		h2 {
			font-size: 15px;
		}
		.bio {
			margin: 20px auto;
		}
		.bio p {
			font-size: 13px;
		}
		.bio p em {
			font-size: 10px;
			margin: 0 auto;
			padding-left: 8%;
			position: relative;
		}
		.bio pre {
			font-size: 10px;
		}
	}
	hr {
		height: 4px;
		background-color: black;
	}
	#home #projects .projectlist {
		padding-left: 10%;
		padding-right: 10%;
	}
	#home #techskills {
		padding-bottom: 30px;
		h2 {
			font-size: 15px;
		}
		ul {
			margin-bottom: 20px;
			li {
				line-height: 20px;
				font-size: 10px;
			}
		}
	}
	#home #contact #showresume {
		img {
			width: 90%;
			height: auto;
			overflow-y: scroll;
		}
		#close {
			margin-left: 90%;
		}
	}
}