<div class="close" id="close2"><strong>X</strong></div>
 <%= video_tag(["https://s3.us-east-2.amazonaws.com/hspalacios/DatenightOfficialDemo.mov"], :controls => true, :class => "video", :id => "datenightvideo") %>
 <div class="close" id="close3"><strong>X</strong></div>
 <%= video_tag(["https://s3.us-east-2.amazonaws.com/hspalacios/GroundworkOfficialDemo.mov"], :controls => true, :class => "video", :id => "groundworkvideo") %>
  <div class="close" id="close4"><strong>X</strong></div>
 <%= video_tag(["https://s3.us-east-2.amazonaws.com/hspalacios/wherenext720.mp4"], :controls => true, :class => "video", :id => "wherenextvideo") %>
