<div class="close" id="close2"><strong>X</strong></div>
 <%= video_tag(["datenight540.mp4"], :controls => true, :class => "video", :id => "datenightvideo") %>
 <div class="close" id="close3"><strong>X</strong></div>
 <%= video_tag(["groundworkdemo3.mp4"], :controls => true, :class => "video", :id => "groundworkvideo") %>
  <div class="close" id="close4"><strong>X</strong></div>
 <%= video_tag(["wherenext540.mp4"], :controls => true, :class => "video", :id => "wherenextvideo") %>
