<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Monda|Ropa+Sans|Ubuntu+Condensed" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
